.Controls {
    width: 100%;
    background-color: rgba(100,100,100, 0.15);
}

.Controls__Buttons {
    width: 800px;
    margin: 0 auto;
    padding: 13px 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Controls__Edit-Buttons button:first-child {
    margin-right: 10px;
}

.Controls__Edit-Buttons button:not(.ant-btn-primary) {
    height: 34px;
}

.Controls__View-Buttons {

}
