.Login {
    position: fixed;
    width: 380px;
    padding: 26px 37px 33px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.06);
}

.Login__Logo {
    display: block;
    width: 261px;
    height: 56px;
    margin: 5px auto 25px auto;
}

.Login > .ant-input {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.Login > .ant-alert {
    margin: 20px 0;
    text-align: center;
}

.Login .ant-alert-icon {
    top: 12px;
    left: 68px;
}

.Login > .ant-btn {
    display: block;
    width: 100%;
}
