.Login {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -60%);
}

.Login__Form {
    padding: 26px 37px 33px;
    background: #FFF;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.06);
}

.Login__Logo {
    display: block;
    width: 261px;
    height: 56px;
    margin: 5px auto 25px auto;
}

.Login__Form > .ant-input {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.Login__Form > .ant-alert {
    margin: 20px 0;
    text-align: center;
}

.Login__Form .ant-alert-icon {
    top: 12px;
    left: 68px;
}

.Login__Form > .ant-btn {
    display: block;
    width: 100%;
}

.Login__Tips, .Login__Love {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    opacity: .8;
    transition: all .12s ease;
}

.Login__Tips:hover,
.Login__Love:hover {
    opacity: 1;
}

.Login__Tips p {
    margin: 1px 0;
}

.Login__Tips p a {
    display: inline-block;
    padding: 0px 6px;
    margin: 0 3px;
    color: #f0f0f0;
    background: #1890ff;
    border-radius: 4px;
    text-decoration: none;
}

.Login__Love-Icon {
    font-size: 1.4em;
}
